<footer class="footer-main">
    <div class="container">
        <div class="about foot">
            <h5>LIÊN HỆ</h5>
            <div class="contain">

                <a href=""><i class="fa fa-map-marker"></i><span class="edit">799 Nguyễn Văn Linh, Tân Phú, quận 7, TP.HCM</span></a>

                <a href=""><i class="fa fa-phone"></i><span>+1345678</span></a>
                <a href=""><i class="fa fa-envelope"></i><span style="color: #fff200;">chamsockh@gmail.com</span></a>
            </div>

        </div>
        <div class="social foot">
            <h5>HỖ TRỢ KHÁCH HÀNG</h5>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Prices</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="product foot">
            <h5>ĐĂNG KÍ NHẬN TIN</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Soluta excepturi, itaque porro quas temporibus nihil distinctio eaque, pariatur et, magni voluptatem harum velit quam nesciunt, consectetur minima cumque debitis fugiat?</p>
            <ul>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container text-center">
        <p>&copy <span id="year"></span> copy right by Da Nguyen </p>
    </div>
</footer>