* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* .footer-main {
    background: #3333;
    color: #fff;
    padding: 20px;
}

.footer-main a {
    color: #fff;
    text-decoration: none;
} */

.update {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.main {
    margin-bottom: auto;
    margin-bottom: 200px;
}

.product-card .card {
    /* width: 280px !important;
    height: 500px !important; */
    border: none;
}

.product-card {
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.product-card img {
    /* background: url();
    background-size: cover;
    background-position: center ; */
    width: 100%;
    height: 250px;
    object-fit: fill;
}

.qty {
    display: flex;
}


/* footer */

.footer-main {
    font-family: "UTMBryantLGBold", sans-serif;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 50px 100px 20px 100px;
    background: #333;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-main .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    color: #aaaaa9;
}

.footer-main .container .foot {
    margin-right: 30px;
}

.footer-main .container .about {
    width: 40%;
}

.footer-main .container .product {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.footer-main .container .social {
    width: 25%;
    color: #aaaaa9;
}

@media(max-width: 991px) {
    .footer-main .container {
        flex-direction: column;
    }
    .footer-main {
        padding: 40px;
    }
    .footer-main .container .foot {
        margin-right: 0;
        margin-bottom: 40px;
    }
    .footer-main .container .social {
        width: 100%;
    }
    .footer-main .container .about {
        width: 100%;
    }
    .footer-main .container .product {
        width: 100%
    }
}

.footer-main .container h2 {
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}

.footer-main p {
    color: #999;
    margin-bottom: 30px;
}

.footer-main ul li {
    /* list-style: none; */
}

.footer-main .product ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff;
    background: #0d6efd;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.footer-main .social h5 {
    padding-left: 15px;
}

.footer-main .social ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.footer-main .product ul li {
    list-style: none;
}

.footer-main .product ul {
    padding-left: 0rem !important;
}

.footer-main .social ul li a:hover {
    color: #ef7147;
}

.footer-main .about i {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: none;
    align-items: center;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #aaaaa9;
}

.footer-main .about a {
    display: block;
    color: #aaaaa9;
    text-decoration: none;
    line-height: 50px;
}

.footer-main .about a span {
    margin-left: 10px;
    justify-content: center;
}


/* end footer */